node_modules
*.log
.DS_Store
.nyc_output
coverage
services/orchestrator/config/local.json
services/router/config/local.json
services/switches/config/local.json
services/vacuums/config/local.json
services/weather/config/local.json
services/wink/config/local.json
